<h1><%= @player.name %></h1>
<h3>Race: <%= @player.race %></h3>
<h3>Class: <%= @player.game_class %></h3>

<strong>Level: <%= @player.level %></strong>
<strong>Experiance: <%= @player.exp %></strong>
<strong>Money: <%= @player.money %></strong>
