<%= link_to "Edit Group", edit_group_path %>

<h1> <%= @group.name %> </h1>
<h3> <%= @group_owner.email %> </h3>
<p>
  created: <%= @group.created_at %>
</p>

<%= link_to "Invite", new_group_invite_path(@group) %>

<% @group.characters.each do |character| %>
  <%= character.name %>
<% end %>
