<%= link_to "Edit Group", edit_group_path %>

<h1> <%= @group.name %> </h1>
<h3> <%= @group_owner.email %> </h3>
<p>
  created: <%= @group.created_at %>
</p>

<h3>Members</h3>
<%= link_to "Invite", new_group_invite_path(@group) %>

<% @group.players.each do |player| %>
  <p>
    <%= link_to player.name, group_player_path(@group.id, player.id) %>
  </p>
<% end %>

<h3>Posts</h3>
<%= link_to "New Post", new_group_post_path(@group) %>
<% @group.posts.each do |post| %>
  <%= post.title %>
<% end %>
