<h1><%= @post.title %></h1>
<%= link_to "edit post", edit_group_post_path(@post.group, @post) %>
<%= link_to "Add Segment", new_group_post_post_segment_path(@post.group, @post) %>

<% @post_segments.each do |segment| %>
  <ul>
    <li>
      <h3><%= segment.subject %></h3>
      <% if segment.visable %>
        <%= link_to "Hide", group_post_path(@post.group, @post, {segment:segment.id, visable:"false"}) %>
      <% else %>
        <%= link_to "Show", group_post_path(@post.group, @post, {segment:segment.id, visable:"true"}) %>
      <% end %>
      <p>
        <%= segment.body %>
      </p>
      <%= link_to "edit segment", edit_group_post_post_segment_path(@post.group, @post, segment) %>
    </li>

  </ul>
<% end %>
