<!DOCTYPE html>
<html>
<head>
  <title>RPGLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= "notice: #{flash[:notice]}" if flash[:notice]%>
<%= "alert: #{flash[:alert]}" if flash[:alert]%>


<div class="main-container">

  <div class="ui grid">
    <div class="three wide column"><%= render partial: "shared/sidebar" %></div>
    <div class="thirteen wide column">
      <div class="ui segment">
        <%= yield %>
      </div>
    </div>
  </div>
</div>


</body>
</html>
