<!DOCTYPE html>
<html>
<head>
  <title>RPGLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= "notice: #{flash[:notice]}" if flash[:notice]%>
<%= "alert: #{flash[:alert]}" if flash[:alert]%>
<% if current_user %>
  <%= link_to "Sign Out", destroy_user_session_path %>
  <%= link_to "Groups", groups_path unless current_page?(groups_path)%>
  <%= link_to "Messages", private_messages_path %>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
<%= yield %>

</body>
</html>
